*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    background-image: url("./Samar/bg13.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;

}
.header .menuList{
    display: flex;
    align-items: center;
}
.header .menu{
    display: flex;
    list-style: none;
    margin-right: 20px;
}
.header .menu li{
    padding: 55px 15px;
}
.header .menu li a{
    color: #070120;
    font-size: 15px;
    font-weight: 500;
    transition: all .3s;
    text-decoration: none;
}

.header .menu li i{
    font-size: 9px;
    margin-left: 3px;
    vertical-align: middle;
    margin-top:-3px
}
.header .menu li:hover a{
    color:#f55f8d
}
.header .menu a span{
    display: inline-block;
}
.header .menu li:hover span{
    animation: upToDown 0.3s forwards;
}
@keyframes upToDown{
    49%{
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
.logoMenu{
    width: 180px;
    height: 60px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    text-align: center;
    line-height: 60px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    transition: all .5s;
    background-size: 200%;
}
.menuList .logoMenu:hover{
    background-position: right center;
}
.carousel{
    display: flex;
    justify-content: space-between;
    padding: 70px 0px 70px 80px;
    background-image: url("./Samar/bg17.png");
}
.carousel_content {
    width: 49%;
}
.carousel_content h3{
    color: #f55f8d;
    font-size: 25px;
    animation-delay: 0.5s;
}
.carousel_content h1{
    color: #747474;
    font-size: 65px;
    margin-top: 25px;
    animation-delay: 1s;
}
.carousel_content p{
    color:#747474;
    font-size: 20px;
    margin-top: 20px;
    animation-delay: 1.5s;
}
.carousel_content .stick{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56);
}
.carousel_content .carousel_content_stick{
    display: flex;
    align-items: center;
    margin-top: 30px;
    animation-delay: 2s;
}
.carousel_content .carousel_content_stick span{
    margin-left: 10px;
    color: #747474;
    font-size: 20px;
}
.carousel_content .carousel_content_stick i{
    color: #fff;
    display: block;
    text-align: center;
    line-height: 30px;
}
.logoMenu:hover{
    background-position: right center;
}
.logoMenu_carousel{
    margin-top: 30px;
    animation-delay: 2.5s;
}
.Services{
    text-align: center;
    padding: 80px 50px;
    background-image: url("./Samar/bg2.png");
    /* background-position: center; */
    background-position-x: -250px;
    background-position-y: -50px;
    background-repeat: no-repeat;
}
.Services h3{
    color: #f55f8d;
    font-size: 20px;
    margin-bottom: 30px;
}
.Services h1{
    color: #747474;
    font-size: 65px;
    margin-bottom: 50px;
}
.Services_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Services_list img{
    width: 80%;
    
}
.Services_item{
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all .5s;
    margin: 0 20px;
}
.Services_item h2{
    font-size: 25px;
    margin-top: 20px;
}
.Services_item p{
    margin-top: 15px;
}
.Services_item:hover{
    transform: translateY(-25px);
}
.About_Us{
    /* text-align: center; */
    height: 750px;
    background-image: url("./Samar/bg15.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.About_Us h3{
    color: #f55f8d;
    font-size: 20px;
    margin: 100px 0 40px 0px;
    margin-left: 52%;
}
.About_Us_Content {
    display: flex;
    justify-content: space-between;
}
.About_Us_Content .About_Us_Pic{
    width: 45%;
    height: 470px;
}
.About_Us_Content .About_Us_Text{
    width: 48%;
}
.About_Us_Text{
    padding-right: 60px;
    margin-top: -30px;
}
.About_Us_Text h1{
    font-size: 65px;
    margin-bottom: 18px;
}
.About_Us_List{
    margin-top: 18px;
    display: flex;
    align-items: center;
}
.About_Us_Pic img{
    width: 100%;
    height: 100%;
    border-radius: 0 70px 70px 0;
}
.Circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #f55f8d;
    margin-right: 10px;
}
.About_Us_List i{
    color: #f55f8d;
    display: block;
    text-align: center;
    line-height: 25px;
}
.About_Us_logoMenu{
    margin-top: 30px;
}
.Count{
    background-image: url(./Samar/bg14.png);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    background-color: rgba(230, 230, 250, 0.247);
}
.Count .Count_Item{
    text-align: center;
}
.Count .Count_Item >div{
    margin: 10px auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56);
}
.Count .Count_Item i{
    font-size: 35px;
    color: #fff;
    line-height: 80px;
}
.Count .Count_Item h2{
    font-size: 55px;
    color: #f55f8d;
}
.Features{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
}
.Features_containt{
    width: 50%;
}
.Features_containt h3{
    color: #f55f8d;
    font-size: 25px;
    margin-bottom: 20px;
}
.Features_containt h1{
    color:#747474;
    font-size: 65px;
    margin-bottom: 20px;
}
.Features_containt_item {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom:30px; 
    /* transition: all 0.6s; */
    position: relative;
    z-index: 1;
}
.Features_containt_item::after{
    content: "";
    background-image: linear-gradient(to right,#f55f8d,#f8ae56);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}
.Features_containt_item:hover::after{
    opacity: 1;
    z-index: -1;
    color: #fff;
}

.Features_containt_item i{
    font-size: 60px;
    color: #f55f8d;
    margin-right: 30px;
    transition: all 1s;
}
.Features_containt_item:hover i{
    color: #fff;
}
.Features_containt_item h2{
    margin-bottom: 10px;
    transition: all 1s;
}
.Features_containt_item:hover h2{
    color: #fff;
}
.Features_containt_item p{
    transition: all 1s;
}
.Features_containt_item:hover p{
    color: #fff;
}
.Features img{
    width: 49%;
    height: 100%;
    margin-right: 8px;
    animation: rotPic 4s infinite;
}
@keyframes rotPic{
    0% {
        transform: rotate(1deg) translate(2px,2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    
    100% {
        transform: rotate(1deg) translate(2px,2px);
    }
}
.Portfolio{
    width: 100%;
    margin-top: 60px;
    height: 1280px;
}
.Portfolio h3{
    color: #f55f8d;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}
.Portfolio h1{
    font-size: 65px;
    text-align: center;
    margin-bottom: 20px;
}
.Portfolio_pic{
    padding: 0 70px;
    display: grid;
    grid-template-columns: 28% 28% 40%;
    grid-template-rows: 480px 200px 300px;
    gap: 30px;
    grid-template-areas: 
    "h1 h1 h2"
    "h3 h4 h5"
    "h6 h6 h5"
}
.Portfolio_pic_image:first-child{
    grid-area: h1;
}
.Portfolio_pic_image:nth-child(2){
    grid-area: h2;
}
.Portfolio_pic_image:nth-child(3){
    grid-area: h3;
}
.Portfolio_pic_image:nth-child(4){
    grid-area: h4;
}
.Portfolio_pic_image:nth-child(5){
    grid-area: h5;
}
.Portfolio_pic_image:nth-child(6){
    grid-area: h6;
}

.Portfolio_pic_image{
    position: relative;
    overflow: hidden;
  }
.Portfolio_pic_image::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
    } 
    .Portfolio_pic_image:hover::before{
        left: 125%;
    }
  .blogs_overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 1;
    transition: 0.8s;
    border-radius: 20px;
  }
  
  .blogs_overlay:hover{
    background-color:rgba(0,0,0,.4);
    animation: mirror 0.4s linear;
  }
  .blogs_icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
    opacity: 0;
  }
  .blogs_icon a{
    text-decoration: none;
  }
  .Portfolio_pic_image:hover .blogs_icon{
    transform: translateY(0px);
    opacity: 1;
  }
 
  .blogs_icon i{
    text-align: center;
    line-height: 50px;
    display: block;
    color:#fff;
    transition: all .8s;
  }
  .blogs_icon i:hover{
    color: #fff;
  }
  .blogs_text{
    position: absolute;
    bottom: 35px;
    left: 25px;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s;
  }
  .Portfolio_pic_image:hover .blogs_text{
    opacity: 1;
    transform: translateY(0px);
  }
  .blogs_text p{
    color: #535353;
    font-size: 18px;
  }
  .blogs_text h4{
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
  }
  .Portfolio_pic_image img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Plan{
    background-image: url("./Samar/bg16.png");
}
.Plan h3{
    color: #f55f8d;
    font-size: 20px;
    text-align: center;
}
.Plan h1{
    font-size: 65px;
    text-align: center;
}
.Plan_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}
.Plan_list{
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all .5s;
    width: 31.5%;
}
.Plan_list:hover{
    border: 3px dashed #f8ae56 ;
}
.Plan_list .Plan_price{
    text-align: center;
}
.Plan_list .Plan_price h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.Plan_list .Plan_price img{
    width: 150px;
    margin-bottom: 20px;
}
.Plan_list .Plan_price .price{
    font-size: 50px;
    color:#f8ae56;
    font-weight: 800;
    /* margin-bottom: 20px; */
}
.Plan_list .Plan_price .text{
    font-weight: 600;
    font-size: 18px;
}
.Plan_list hr{
    color: #e1e1f0;
    margin: 20px 0px;
}
.Plan_list .Plan_item{
    display: flex;
    margin-bottom: 20px;
}
.Plan_list .circleSticky{
    width: 25px;
    height: 25px;
    background-color: #feeff3;
    border-radius: 50%;
    margin-right: 15px;
}
.Plan_list .Plan_item span{
    line-height: 25px;
}
.Plan_list .Plan_item i{
    color: #f55f8d;
    display: block;
    text-align: center;
    line-height: 25px;
}
.Testimonial{
    width: 100%;
    height: 650px;
    background-image: url("./Samar/bg17.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    text-align: center;
    margin-top: 60px;
    position: relative;
}
.title h3{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.title h1{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 40px 0;
    min-height: 300px;
}
.testimonial-thumbs{
    width: 300px;
    margin: auto;
    height: 170px;
    position: relative;
    overflow: hidden;
}
.testimonial-thumbs::before{
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}
.testimonial-thumbs::after {
    right: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}
.testimonial-comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all .5s;
}

   .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}
  .testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
  .testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
    position: relative;
  }
  
  .testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}
  .testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("./Samar/pattern12.png");
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin: 0 auto;
    position: relative;
  }
  .testimonial-text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
  }
  .testimonial-text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
  }
  .testimonial-text .testimonial-name{
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .testimonial-text .testimonial-position{
    color: #f55f8d;
    margin-bottom: 20px
  }
  .swiper-pagination{
    position: relative !important;
    margin-top: 15px;
  }
  .swiper-pagination-bullet{
    background-color: #f55f8d;
    /* margin-bottom: -30px; */
  }
  .Blog{
    width: 100%;
    height: 700px;
    background-image: url("./Samar/bg16.png");
    background-size: cover;
    background-position: top center;
  }
  .Blog_List{
    padding: 0 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 30px;
  }
  .Blog_Item{
    position: relative;
    background-color: #feeff3;
    width: 100%;
  }
  .Blog_Item img{
    width: 100%;
    border-radius: 10px;
  }
  .Blog_date{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 220px;
    left: 15px;
    z-index: 2;
  }
  .Blog_date p{
    margin-top: 3px;
  }
  .Blog_Item >h4{
    margin-top: 30px;
    font-size: 25px;
    color: #262626;
    margin-left: 15px
  }
  .Blog_Item >p{
    color:#6c6b6b;
    margin-top: 5px;
    margin-left:10px
  }
  .Blog_Item .Blog_Footer{
    margin-top: 50px;
    border-top: 1px solid #f1e3e7;
    display: flex;
  }
  .Blog_Item .Blog_Footer p{
    margin: 18px 18px;
    font-size: 15px;
  }
  .Blog_Item .Blog_Footer i{
    color: #f55f8d;
  }
  .footer{
    background-image: url("./Samar/bg4.png");
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
    padding: 0 70px;
}
.footer::before {
    content: "";
    background-image: url("./Samar/pattern2.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer_top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url("./Samar/pattern3.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer_form, .footer_text {
    width: 50%;
}
.footer_form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer_form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}
.footer_form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer_form button:hover {
    background-position: right center;
}
.footer_text h2 {
    font-size: 28px;
    color: #262626;
}
  .footer_copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
    padding: 10px 70px;
    color: #e1e1f0;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer_bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer_item {
    width: 25%;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer_left span {
    color: #f55f8d;
}
.footer_copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}
.fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
}
.footer_copyright a:hover {
    background: #f55f8d;
}
.footer_item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
    text-decoration: none;
}
.footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.footer_item li {
    padding: 0.5rem 0;
    list-style: none;
}
.footer_item h3::after, .footer_item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer_item h3::before {
    width: 15px;
}
.footer_item h3::after {
    width: 45px;
    left: 20px;
}
.footer_item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}
.footer_item i {
    font-weight: 700;
    margin-right: 10px;
}
.footer_contact li {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
}
.footer_contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.footer_bottom{
    animation-delay: 0.8s;
}
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden; 
    opacity: 0;
}
.backToTop a {
    text-decoration: none;
}
.show{
    visibility: visible; 
    opacity: 1;
}